:root {
  --background-color: #000000;
  --foreground-color: #e0e0e0;
  --logo-color: #00d4ff;
  --color-one: #121212;
  --color-two: #00bcd4;
  --color-three: #00e676;
  --color-four: #ffeb3b;
  --color-five: #7c4dff;
  --color-six: #00acc1;
  --color-seven: #ffffff;
}
