:root {
  --background-color: #0d1117;
  --foreground-color: #c9d1d9;
  --logo-color: #58a6ff;
  --color-one: #161b22;
  --color-two: #388bfd;
  --color-three: #3fb950;
  --color-four: #d29922;
  --color-five: #a371f7;
  --color-six: #1f6feb;
  --color-seven: #ffffff;
}
