:root {
  --background-color: #ffffff;
  --foreground-color: #24292f;
  --logo-color: #0969da;
  --color-one: #f6f8fa;
  --color-two: #0969da;
  --color-three: #1a7f37;
  --color-four: #9a6700;
  --color-five: #8250df;
  --color-six: #0550ae;
  --color-seven: #000000;
}
