:root {
  --background-color: #0a0a0a;
  --foreground-color: #00ff00;
  --logo-color: #00ff00;
  --color-one: #0f380f;
  --color-two: #306532;
  --color-three: #8bac0f;
  --color-four: #9bbc0f;
  --color-five: #00cc00;
  --color-six: #00ff00;
  --color-seven: #ffffff;
}
